name: R8S UI 5.1

on:
  push:
    branches: [ main ]
    paths:
      - 'arch/arm64/configs/exynos9830-r8slte_defconfig'
  pull_request:
    branches: [ main ]
    paths:
      - 'arch/arm64/configs/exynos9830-r8slte_defconfig'
  workflow_dispatch:
    inputs:
      force_build:
        description: 'Force build even if exynos9830-r8slte_defconfig is not modified (manual trigger)'
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up environment
        run: |
          sudo apt-get update
          sudo apt-get install -y libarchive-tools ccache device-tree-compiler

      - name: Download Clang Toolchain
        run: |
          mkdir -p toolchain/clang/host/linux-x86
          cd toolchain/clang/host/linux-x86
          wget https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/tags/android-10.0.0_r47/clang-r349610.tar.gz -O clang-r349610.tar.gz
          mkdir clang-r349610-jopp
          tar -xf clang-r349610.tar.gz -C clang-r349610-jopp

      - name: Download GCC Toolchain
        run: |
          mkdir -p toolchain/gcc
          cd toolchain/gcc
          wget https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9/+archive/master.tar.gz -O gcc.tar.gz
          tar -xf gcc.tar.gz

      - name: Build Kernel
        run: |
          chmod +x ./build_kernel.sh
          ./build_kernel.sh -m r8s -k n

      - name: Find built zips
        id: find_zips
        run: |
          ZIP_FILES=$(find . -type f -name "*.zip")
          if [[ -z "$ZIP_FILES" ]]; then
            echo "No ZIPs found! Exiting."
            exit 1
          fi
          echo "ZIP_FILES<<EOF" >> $GITHUB_ENV
          echo "$ZIP_FILES" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Upload built kernels
        uses: actions/upload-artifact@v4
        with:
          name: built-kernels
          path: ${{ env.ZIP_FILES }}
